PROJECT_NAME="Intelligent Diabetes Risk Predictor"
APP_ENV=development
SECRET_KEY=change-this-to-a-super-secret-key-in-production-cs619
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# PostgreSQL Connection URLs
# Format: postgresql://<user>:<password>@<host>:<port>/<dbname>
DATABASE_URL=postgresql://user:password@localhost:5432/diabetes_predictor
TEST_DATABASE_URL=postgresql://user:password@localhost:5432/diabetes_predictor_test

# Machine Learning Active Model Default (logistic_regression, svm, decision_tree, neural_network)
ACTIVE_MODEL=logistic_regression
